---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} - Iserila</title>
    <meta name="description" content={frontmatter.description} />
</head>

<Layout>
    <div class="my-4 flex items-center gap-4">
        <p class="badge badge-date">
            {
                new Date(frontmatter.date).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
        <div>
            <ul class="flex items-center gap-1">
                {
                    frontmatter.tags.map((tag: string) => (
                        <li>
                            <a
                                href={`/tags/${encodeURIComponent(tag)}`}
                                class="badge"
                                rel="tag"
                            >
                                {tag}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <h1 class="mt-2">{frontmatter.title}</h1>
    <p class="mt-2">{frontmatter.description}</p>

    <hr />

    <article class="prose">
        <slot />
    </article>
    <a href="/blog" class="btn">Back to blogs</a>
</Layout>
